.MainScreen-graphContainer {
  background-color: #10040d;
  background-image: linear-gradient(#10040d, #12030e);
  margin: 15px -20px 5px;
  padding: 30px 40px 20px 0;
}

strong {
  color: #fd29cc;
}
