body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link {
  color: #9bc984;
}

a:visited {
  color: #9bc984;
}

h1 {
  margin: 35px 0 15px;
}

h3 {
  margin: 25px 0 10px;
}

p {
  margin: 15px 0 5px;
}